# Dependencies
node_modules/
**/node_modules/

# Build
dist/
build/
**/dist/
**/build/

# Logs
*.log
logs/

# Uploads
server/uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache
.npm/
.mongo_data/
**/.mongo_data/