PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/restaurant_erp
JWT_SECRET=royal_heritage_super_secret_jwt_key_2026_production
JWT_REFRESH_SECRET=royal_heritage_refresh_secret_key_2026_production
NODE_ENV=development
